* {
    margin: 0;
    padding: 0;
    font-family: MyFont;
}

@font-face {
    font-family: MyFont;
    src: url(/fonts/BricolageGrotesque-Light.ttf);
}

body {
    background: linear-gradient(135deg, #e49b60, #e94e06);

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 60px;
    font-weight: bold;
}

hr {
    margin-top: 10px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    border: none
}

.all {
    margin: 70px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 1%;
    font-size: 23px;
    font-weight: bold;
}

.all-box-calendrie {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.box {
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(241, 196, 99);
    transition: .4s;
}

.fa-plus{
    font-size: 13px;
    color: rgb(202, 107, 70);
    cursor: pointer;
    transition: .3s;
}

.fa-plus:hover{
    font-size: 20px;
    transform: scale(1.09);
}
.box:hover {
    background-color: rgb(87, 55, 13);
    color: rgb(255, 255, 255);
}

.copyright{
    margin: 10px;
    color: #6e2604;
}

